<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/style-services.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="relative">
    <img src="{{url_for('static',filename='img/technical.png')}}" alt="" class="w-screen h-1000 absolute inset-0"
        size="cover">
    <div id="services" class="relative text-white text-center">
        <h1 class="relative text-6xl font-bold mb-8 top-10">Technical Interview</h1>
        <h2 class="relative text-3xl font-bold mb-8 top-20 -left-2">Which domain you want to prepare for?</h2>
    </div>
    <div class="btn-container flex left-[17.5%] top-8">
        <ul class="grid w-full gap-1 grid-cols-4">
            <li>
                <input type="checkbox" id="ai-ml-option" value="4" class="hidden peer" required="">
                <label for="ai-ml-option"
                    class="inline-flex relative right-50 top-20 justify-between w-48 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/3d-fluency/94/robot-1.png" alt="robot-1"
                            class="relative left-[35%]" />
                        <div class="w-full relative left-9 text-2xl text-white font-bold">AI ML</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="cyber-option" value="5" class="hidden peer" required="">
                <label for="cyber-option"
                    class="inline-flex relative right-50 top-20 justify-between w-60 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80"
                            src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-cyber-security-cyber-security-flaticons-lineal-color-flat-icons.png"
                            alt="external-cyber-security-cyber-security-flaticons-lineal-color-flat-icons"
                            class="relative left-[35%]" />
                        <div class="w-full relative left-4 text-2xl text-white font-bold">Cyber Security</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="python-option" value="3" class="hidden peer" required="">
                <label for="python-option"
                    class="inline-flex relative right-35 top-20 justify-between w-72 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/color/80/python--v1.png"
                            alt="private-cloud-storage" class="relative left-[40%]" />
                        <div class="w-full relative left-3 text-2xl text-white font-bold">Python Programming</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <div class="btn-container flex left-[17.5%] top-8">
        <ul class="grid w-full gap-1 grid-cols-4">
            <li>
                <input type="checkbox" id="web-option" value="1" class="hidden peer" required="">
                <label for="web-option"
                    class="inline-flex relative right-10 left-05 top-20 justify-between w-72 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/stickers/100/laptop-coding.png"
                            alt="laptop-coding" class="relative left-[40%]" />
                        <div class="w-full relative left-4 text-2xl text-white font-bold">Web Development</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="java-option" value="2" class="hidden peer" required="">
                <label for="java-option"
                    class="inline-flex relative right-40 left-10 top-20 justify-between w-40 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/color/48/java-coffee-cup-logo--v1.png"
                            alt="java-coffee-cup-logo--v1" class="relative left-[20%]" />
                        <div class="w-full relative left-8 text-2xl text-white font-bold">Java</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="c-option" value="8" class="hidden peer" required="">
                <label for="c-option"
                    class="inline-flex absolute left-100 top-20 justify-between w-72 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/color/48/c-programming.png"
                            class="relative left-[36%]" />
                        <div class="w-full relative left-4 text-2xl text-white font-bold">C Programming</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <div class="btn-container flex left-[17.5%] top-8">
        <ul class="grid w-full gap-1 grid-cols-3">
            <li>
                <input type="checkbox" id="data-option" value="6" class="hidden peer" required="">
                <label for="data-option"
                    class="inline-flex absolute left-15 top-20 justify-between w-60 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80"
                            src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/80/external-data-science-media-agency-flaticons-lineal-color-flat-icons-2.png"
                            alt="external-data-science-media-agency-flaticons-lineal-color-flat-icons-2"
                            class="relative left-[36%]" />
                        <div class="w-full relative left-6 text-2xl text-white font-bold">Data Science</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="checkbox" id="c-plus-plus-option" value="7" class="hidden peer" required="">
                <label for="c-plus-plus-option"
                    class="inline-flex relative right-20 top-20 justify-between w-40 p-5 text-white bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-white dark:border-gray-700 peer-checked:border-blue-600 hover:text-white dark:peer-checked:text-white peer-checked:text-white hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <img width="80" height="80" src="https://img.icons8.com/color/48/c-plus-plus-logo.png"
                            alt="c-plus-plus-logo" class="relative left-[20%]" />
                        <div class="w-full relative left-8 text-2xl text-white font-bold">C++</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <button onclick="goBack()" class="absolute bottom-[-25%] left-96 bg-white w-20 p-3 rounded-3xl ">
        <i class="fas fa-arrow-left text-2xl"></i>
    </button>

    <a href="{{url_for('redirect_to_main')}}"
        class="fixed top-4 right-8 bg-white p-3 rounded-3xl text-gray-800 flex items-center"
        onclick="confirmNavigation(event)">
        <i class="fas fa-home text-2xl text-black mr-2"></i>
        <p class="text-black text-2xl">Back to homepage</p>
    </a>

    <a href="{{url_for('sess')}}">
        <button onclick="validateAndNavigate()"
            class="absolute bottom-[-25%] right-96 bg-blue-500 text-white font-bold w-32 text-3xl p-3 rounded-3xl">
            Next
        </button>
    </a>

    <script>
        function goBack() {
            var confirmNavigate = confirm("Your session will get terminated. Do you want to continue?");
            if (!confirmNavigate) {
                event.preventDefault();
            }
            window.history.back();
        }
        function validateAndNavigate() {
            // Get all checkboxes
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            const selectedValues = Array.from(checkboxes).map(checkbox => checkbox.value);

            // If at least one checkbox is checked, navigate to the next page with the selected values as a query string
            if (selectedValues.length > 0) {
                fetch('/process_list', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ myList: selectedValues }),
                })
                    .catch(error => console.error('Error:', error));
            }


            else {
                // Otherwise, show an alert or handle the validation as needed
                alert('Please select at least one domain.');
                event.preventDefault();
            }
        }
        function confirmNavigation(event) {
            var confirmNavigate = confirm("Your session will get terminated. Do you want to continue?");
            if (!confirmNavigate) {
                event.preventDefault();
            }
        }
    </script>
</body>